/* .carousel {
    display: flex;
    align-items: center;
}

.carousel-item {
    flex: 1;
}

.carousel-item.selected {
    flex: 4;
    align-self: stretch;
}

.carousel-item img {
    width: 100%;
    height: auto;
} */

main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#carousel {
  position: relative;
  height: 450px;
  top: 50%;
  /*transform: translateY(-50%);*/
  overflow: hidden;
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  cursor: pointer;
}

#carousel div img {
  width: 400px;
  height: 450px;
  transition: width 1s;
  border-radius: 10px;
}

#carousel div.title {
  position: absolute;
  bottom: 80px;
  z-index: 20;
  color: white;
  font-size: 30px;
  left: 20px;
  font-family: "Roboto";
  font-weight: 200;
  text-transform: capitalize;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  border-radius: 10px;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
  border-radius: 10px;
}

#carousel div.prev {
  z-index: 5;
  left: 40%;
  transform: translateY(25px) translateX(-87%);
}

#carousel div.prev img {
  width: 350px;
  height: 400px;
  border-radius: 10px;
}

/* #carousel div.prev .title {
  bottom: 115px;
} */

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 32%;
  transform: translateY(14%) translateX(-125%);
  opacity: 0.7;
}

#carousel div.prevLeftSecond img {
  width: 300px;
  height: 350px;
  border-radius: 10px;
}

/* #carousel div.prevLeftSecond .title {
  bottom: 115px;
  left: 85px;
} */

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 60%;
  transform: translateY(25px) translateX(-14%);
}

#carousel div.next img {
  width: 350px;
  height: 400px;
  border-radius: 10px;
}

#carousel div.nect .title {
  bottom: 105px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 68%;
  transform: translateY(14%) translateX(20%);
  opacity: 0.7;
}

#carousel div.nextRightSecond img {
  width: 300px;
  height: 350px;
  border-radius: 10px;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
