section {
    display: block;
}

// @media screen and (min-width: 841px) {
    .top-picks {
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
        padding: 36px 0;
        margin: 0;
        position: relative;
    }



    .top-picks-inner {
        margin: 0px 40px;
        // margin-left: auto;
        // margin-right: auto;
        // max-width: 1200px;
        // width: calc(100% - 40px *2);
        // align-items: center;
        // display: flex;
        // flex-direction: column;
    }


.top-picks-header {
    margin-bottom: 24px;
}

.top-picks-header-inner {
    margin-bottom: 0;
    max-width: initial;
    align-items: center;
    display: flex;
    margin: 0 0 24px;
}


@media (min-width: 841px) {
    .top-picks-header-inner > h2 {
        font-size: 1.375rem;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.75rem;
        font-family: 'Roboto';
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.top-picks-header-inner > h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

.span-1 {
    font-size: 22px;
    font-family: 'Roboto';
    color: #3c4043;
}

.span-2 {
    color: #80868b;
    font-size: 16px;
    font-weight: 300;
    margin-left: 8px;
    font-family: 'Roboto';
}

.top-picks-carousel {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: block;
}

.carousel {
    display: flex;
    height: 454px;
    margin: 0 auto;
    position: relative;
    width: calc(100% - 226px)
}

.carousel-1 {
    z-index: 6;
    display: block;
}

.fav-color {
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
        padding: 36px 0;
        margin: 0;
        position: relative;
    }

.museum-home {
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
        padding: 36px 0;
        margin: 0;
        position: relative;
}

.explore-street {
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
        padding: 36px 0;
        margin: 0;
        position: relative;
}

h2 span {
    font-size: 1.375rem;
}