.logo {
    div {
        font-family: 'Open Sans';
        display: flex;
        flex-direction: row;
        font-weight: 400;
        cursor: pointer;
    }
}

#van-gogh {
    font-weight: 500;
    margin-right: .25em;
    font-size: 20px;
}