div.slide-in {
    width: 240px;
    // height: 100%;
    // z-index: 7;
    // position: fixed;
    // top: 0;
    // left: 0;
    // background: white;
    // overflow-x: hidden;
    // transition: 0.3s;
}

#sidebar-links {
    padding: 16px 0;
}

.sidebar-link {
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 24px 0;
}

.sidebar-link.active {
    background: rgba(26, 115, 232, 0.102);
    margin: 0px 0px 0px 8px;
    border-radius: 24px 0 0 24px;
}

.sidebar-link.hover {
    background: #f0f0f0;
}

.sidebar-link svg {
    fill: #606060;
    margin-bottom: 7px;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.sidebar-link.active svg {
    fill: rgb(26, 115, 232)
}

.sidebar-link.active span {
    color: rgb(26, 115, 232)
}

.sidebar-link span {
    color: #575757;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
}

.hide {
    display: none;
}

.dropdown {
    // width: 240px;
    height: 100%;
    z-index: 7;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    overflow-x: hidden;
    transition: 0.3s;
    width: 0;
}

#dropdown-header {
    height: 56px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}