

.gogh-color {
    display: flex;

    & > div {
        width: 70px;
        height: 54px;
    }

}

.white {
    background: white;
}

.gray {
    background: gray;
}

.pink {
    background: pink;
}

.purple {
    background: purple;
}

.royal {
    background: royal;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.orange {
    background: orange;
}

.red {
    background: red;
}

.brown {
    background: brown;
}

.black {
    background: black;
}