.user-icon-dropdown {
    position: relative;
    display: inline-block;
}

.user-icon-dropdown-content {
    right: 0;
    display: block;
    position: absolute;
    background: white;
    min-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 4;
    margin-top: 10px;
}

.user-icon-big {
    height: 40px;
    aspect-ratio: auto 40 / 40;
    width: 40px;
    border-radius: 50%;
    background-color: #e0e0e0
}

.user-display {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;

    button {
        font-size: 14px;
        font-weight: 350;
        text-decoration: none;
        margin-top: 8px;
    }
}

.user-name {
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: 'Roboto';
    margin: 0 0 3px;
}

.user-email {
    margin: 0;
    color: black;
}

.user-icon-dropdown-links {
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}