.user-icon-dropdown {
    position: relative;
    display: inline-block;
}

.user-icon-dropdown-content {
    right: 8px;
    display: block;
    position: absolute;
    background: white;
    min-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 20;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border: 1px solid #ccc;
}

.user-icon-big {
    height: 40px;
    aspect-ratio: auto 40 / 40;
    width: 40px;
    border-radius: 50%;
    background-color: #e0e0e0
}

.user-display {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;

    button {
        font-size: 14px;
        font-weight: 350;
        text-decoration: none;
        margin-top: 8px;
    }
}

.user-name {
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: 'Roboto';
    margin: 0 0 3px;
}

.user-email {
    margin: 0;
    color: black;
}

.user-icon-dropdown-links {
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-info {
    button {
        border-radius: 100px;
        border: 1px solid #dadce0;
        background: #ffffff;
        color: #3d4043;
        display: inline-block;
        font-family: 'Roboto';
        margin: 16px 0 0;
        padding: 8px 16px;
        text-align: center;
        overflow: hidden;
    }
}

.user-email {
    color: #5f6268;
    font-size: 14px;
    text-align: center;
    font-family: 'Noto Sans HK';
}

.user-name {
    color: #202124;
    font-size: 16px;
    margin: 0;
    text-align: center;
    overflow: hidden
}

.user-display {
    svg {
        
    }
}